@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Inscripcion de materias</h1>
    <p class="lead">En este sistema tendras la facilidad de seleccionar tus materias mas facil y rapido que nunca.</p>
    
</div>

